<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!--引入公共内容-->
    <span th:replace="/pages/common :: css('BOS管理系统 首页')"></span>
    <span th:replace="/pages/common :: js"></span>

    <script type="text/javascript">

        $(function () {
            $("#bid").click(function () {
                $("#win").window("open");
                return false;   //阻止浏览器默认行为
            });
        });

    </script>

</head>
<body>

<input id="bid" type="button" value="点击打开"/>


<div id="win" class="easyui-window" title="我是标题" style="width:600px;height:400px"
     data-options="iconCls:'icon-add',modal:true,minimizable:false,closed:true">
    Window Content
</div>


</body>
</html>