<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
	<head>
		<span th:replace="pages/common :: css('运单快速录入')"></span>
		<span th:replace="pages/common :: js"></span>

		<script type="text/javascript">

			var editIndex ;
			function doAdd(){
				if(editIndex != undefined){
					$("#grid").datagrid('endEdit',editIndex);
					//return;
				}
				if(editIndex==undefined){
					//alert("快速添加电子单...");
					$("#grid").datagrid('insertRow',{
						index : 0,
						row : {}
					});
					$("#grid").datagrid('beginEdit',0);
					editIndex = 0;
				}
			}
			
			function doSave(){
				$("#grid").datagrid('endEdit',editIndex );
			}
			
			function doCancel(){
				if(editIndex!=undefined){
					$("#grid").datagrid('cancelEdit',editIndex);
					if($('#grid').datagrid('getRows')[editIndex].id == undefined){
						$("#grid").datagrid('deleteRow',editIndex);
					}
					editIndex = undefined;
				}
			}
			
			//工具栏
			var toolbar = [ {
				id : 'button-add',	
				text : '新增一行',
				iconCls : 'icon-edit',
				handler : doAdd
			}, {
				id : 'button-cancel',
				text : '取消编辑',
				iconCls : 'icon-cancel',
				handler : doCancel
			}, {
				id : 'button-save',
				text : '保存',
				iconCls : 'icon-save',
				handler : doSave
			}];

			// 定义列
			var columns = [ [
			    {field : 'wayBillNum', title : '运单号', width : 120, align : 'center',
					editor :{
						type : 'validatebox',
						options : {
							required: true
						}
					}},
				{field : 'arriveCity', title : '到达地', width : 120, align : 'center',
					editor :{
						type : 'validatebox',
						options : {
							required: true
						}
					}},
				{field : 'goodsType', title : '货物类型', width : 120, align : 'center',
					editor :{
						type : 'validatebox',
						options : {
							required: true
						}
					}},
				{field : 'num', title : '件数', width : 120, align : 'center',
					editor :{
						type : 'numberbox',
						options : {
							required: true
						}
					}},
				{field : 'weight', title : '重量', width : 120, align : 'center',
					editor :{
						type : 'validatebox',
						options : {
							required: true
						}
					}},
				{field : 'floadreqr', title : '配载要求', width : 220, align : 'center',
					editor :{
						type : 'validatebox',
						options : {
							required: true
						}
					}}
					] ];
			
			$(function(){
				// 先将body隐藏，再显示，不会出现页面刷新效果
				$("body").css({visibility:"visible"});
				
				// 运单数据表格
				$('#grid').datagrid( {
					rownumbers : true,
					striped : true,
					pageList: [30,50,100],
					pagination : true,
					toolbar : toolbar,
					url : "/wayBill/pageQuickQuery",
					method : "get",
					columns : columns,
					onDblClickRow : doDblClickRow,
					onAfterEdit : function(rowIndex, rowData, changes){
						// 将新添加运单数据 保存到 数据表中 
						$.ajax({
							   type: "POST",
							   url: "/wayBill",
							   data: rowData,
							   statusCode : {
								   200: function(data){
										// 保存成功 
										//$.messager.alert("提示信息","运单录入成功");
										$.messager.show({
											title:'提示',
											msg:data,
											timeout:1000,
											showType:'slide'
										});

										// 刷新列表 
										$("#grid").datagrid('reload');
								   }
							   }
						});

						console.info(rowData);
						editIndex = undefined;
					}, 
					onCancelEdit : function(rowIndex, rowData){
						editIndex = undefined;
					}

				});
			});
		
			function doDblClickRow(rowIndex, rowData){
				alert("双击表格数据...");
				console.info(rowIndex);
				$('#grid').datagrid('beginEdit',rowIndex);
				editIndex = rowIndex;
			}
		</script>
	</head>

	<body class="easyui-layout" style="visibility:hidden;">
		<div region="center" border="false">
			<table id="grid"></table>
		</div>
	</body>

</html> 